.login {
	background:$color-white;

	.login-intro {
		@include span-columns(8);
		@include padding(em(250px) em(150px));
		@include box-shadow(0, em(3px), em(7px), 0, rgba(0, 0, 0, 0.15));
		background-color: rgba(240, 195, 15, 0.66);
		// background: url('../img/yellow.jpeg');
		height: 100%;
		
		h3 {
			color: #555;
		}

		// p {
		// 	height: 70px;
		// 	position: absolute;
		// 	bottom: 0;
		// 	right: 0;
		// 	margin: auto;
		// 	@include margin(em(30px) em(50px));
		// }

		@include media($medium-screen-down) {
			@include padding(em(30px) em(50px));
			@include size(100% 50%);
		}

		@include media($mobile) {
			@include padding(em(30px) em(50px));
			@include size(100% 50%);
		}
	}
	.login-main {
		@include span-columns(4);
		@include padding(em(250px) em(50px) 0 em(50px));

		input {
			background-color: rgba(244, 208, 63, 0.3);
			margin: 10px 0;
			padding: 0 15px;
			width: em(400px);
			font-size: 1em;
			height: em(50px);
			width: 100%;
		}
		button {
			font-size: 1em;
			margin: 15px 0;
			width: 100%;
			height: em(50px);
		}
		@include media($medium-screen-down) {
			@include padding(em(30px) em(50px));
			@include size(100% 50%);
			font-size: em(12px);
		}
		@include media($mobile) {
			@include padding(em(30px) em(50px));
			@include size(100% 50%);
			font-size: em(10px);
		}
	}

}