ul {
    display: inline-block;
    margin-left: -40px;
}

li {
    display: inline-block;
    list-style-type: none;
}

button {
    height: 3em;
    width: 20em;
    color: #000000;
    background-color: #ffffff;
    font: normal normal 400 0.30 "Roboto", sans-serif;
    font-size: 10pt;
    border: 0;
    border-radius: 1px;
    outline: none;
    margin: 0.4em;
    line-height: 2.25em;
    text-transform: uppercase;
    -webkit-transition: all 175ms ease;
    -moz-transition: all 175ms ease;
    transition: all 175ms ease;
    cursor: pointer;
}

button:hover {
    background-color: tomato;
}
#centerthis{
    text-align: center;
}