// Career Day
html {
	background-color:#e7e7e7;
}

.main {
	height: 100%;
	overflow-y: hidden;
	background:#e7e7e7;
}


nav.navbar {
	@extend .container;
	height: em(60px);
	line-height: em(60px);
	background: $color-mineshaft;
	@include margin(0 auto);

	.session-select {
		display: inline-block;
		@include size(em(175px) 100%);
		@include margin(0);
		@include padding(0 em(20px));
		text-align: center;		
		@include transition(all $animation-duration $animation-timing);

		a {
			color: $color-white;
			font-size: em(20px);
			font-weight: $default-font-weight;
			text-decoration: none;

			&:hover {
				color: $color-white;
				text-decoration: none;
			}
		}

		&.active, &:hover {
			background-color: $color-grayblack;

			a {
				color: $color-black;
				&:hover {
					color: $color-black;
				}
			}
		}
	}
}

.enrollment {
	@extend .container;
	height: 78%;
	@include margin(0 auto);
	overflow-y: scroll;
	background: $color-grayblack;
	@include box-shadow(0, em(3px), em(7px), 0, rgba(0, 0, 0, 0.15));
	color: $color-black;

	.session {
		@include row;
		height: em(60px);
		overflow: auto;
		line-height: em(60px);
		@include padding(0 em(25px));
		border-bottom: 1px solid #d6d9da;

		.tag {
			@include span-columns(3);
			font-size: em(18px);
			font-weight: 500;
			color: $color-emperor;
		}

		.remaining {
			@include span-columns(3);
			font-size: em(18px);
			font-weight: 500;
			color: $color-emperor;
		}	


		.title {
			@include span-columns(6);
			height: 100%;

			.vac {
				display: table-cell;
				vertical-align: middle;
			}

			h3, h5 {
				@include margin(0);
				@include padding(0);
				text-align: center;
				line-height: 1.2;
			}

			h3 {
				color: $color-black;
				margin-top: em(9px);
				font-size: em(18px);
				font-weight: 500;
			}

			h5 {
				color: $color-mineshaft;
				margin-top: 1px;
				font-size: em(14px);
				font-weight: $default-font-weight;
			}
		}

		.remaining {
			text-align: right;
		}
	}
}

.register {
	@extend .container;
	@include margin(em(25px) auto 0);
	text-align: center;
	font-weight: 500;

	button {

	}
}


