@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body {
    margin: 0;
}
#back {
    margin-bottom: 1em;
}
.title {
    color: rgb(253, 253, 253);
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}
::-webkit-scrollbar-track {
    background: #f7f7f7; }

::-webkit-scrollbar-thumb {
    background: #f7f7f7; }
.enrollment {
    height: 75%;
    width: 85%;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    background: #f7f7f7;
    overflow-y: scroll;
    -webkit-box-shadow: 0 0.1875em 0.4375em 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0.1875em 0.4375em 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.1875em 0.4375em 0 rgba(0, 0, 0, 0.15);
    color: #333; }
.enrollment::after {
    clear: both;
    content: "";
    display: table; }
@media screen and (max-width: 800px) {
    .enrollment {
        height: 75%;
        width: 92.5%; } }
@media screen and (max-width: 600px) {
    .enrollment {
        height: 75%;
        width: 100%; } }
.enrollment .session {
    display: block;
    height: 3.75em;
    overflow: hidden;
    line-height: 3.75em;
    padding: 0 1.5625em;
    border-bottom: 1px solid #d6d9da; }
.enrollment .session::after {
    clear: both;
    content: "";
    display: table; }
.enrollment .session .tag {
    float: left;
    display: block;
    margin-right: 0%;
    width: 37%;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
.enrollment .session .tag:last-child {
    margin-right: 0; }
.enrollment .session .presenter {
    float: left;
    display: block;
    margin-right: 0%;
    width: 31%;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 400;
    text-align: left; }
.enrollment .session .presenter:last-child {
    margin-right: 0; }
.enrollment .session .position {
    float: left;
    display: block;
    margin-right: 0%;
    width: 20%;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 400;
    text-align: left; }
.enrollment .session .position:last-child {
    margin-right: 0; }
.enrollment .session .remaining {
    float: right;
    display: block;
    margin-right: 0%;
    width: 10%;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: right; }
.enrollment .session .remaining:last-child {
    margin-right: 0; }
.enrollment .session .room-number {
    float: right;
    display: block;
    margin-right: 0%;
    width: 10%;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
.enrollment .session .room-number:last-child {
    margin-right: 0; }
.enrollment .session:hover {
    background: #eee;
    -webkit-transition: all 175ms ease;
    -moz-transition: all 175ms ease;
    transition: all 175ms ease; }
.enrollment .view-session {
    border-bottom: 1px solid #333; }
.enrollment .view-session .time, .enrollment .view-session .room-number {
    font-weight: 400; }
.enrollment .view-session:hover {
    background: #333; }
.enrollment .view-session:hover .session-number, .enrollment .view-session:hover .time, .enrollment .view-session:hover .room-number, .enrollment .view-session:hover .session-title, .enrollment .view-session:hover .name {
    color: #fdfdfd; }


/*popup*/
.popup {
    padding: 1% 0 2% 0;
    display: none;
    z-index: 100;
    background-color: #f7f7f7;
    width: 50%;
    height: 60%;
    margin-left: -1%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*word-wrap: break-word;*/
    /*overflow: auto;*/ }

.popup-c {
    height: 90%;
    width: 90%;
    position: relative;
    word-wrap: break-word;
    overflow: auto;
    display: block;
    margin: auto;
    top: 50%;
    transform: translateY(-50%); }

.popup-c h3 {
    margin-top: 0.25em;
}

.popup-c p {
    text-align: justify;
    padding-right: 3%;
    margin: auto; }

.close {
    padding: 0 4% 0;
    font-size: 150%;
    text-align: right;
    width: 100%;
    float: right;
}

.popup-bg {
    display: none;
    opacity: 0.7;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed; }

.presenter {
    z-index: 10; }

.presname {
    float: left;
    font-weight: 500; }

.entpop {
    width: 100%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/*nav bar*/
nav.navbar {
    height: 3.75em;
    width: 85%;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    line-height: 3.75em;
    margin: 0 auto;
    padding: 0 1.5625em;
    background: #262626;
     }
nav.navbar::after {
    clear: both;
    content: "";
    display: table; }
@media screen and (max-width: 800px) {
    nav.navbar {
        height: 3.75em;
        width: 92.5%; } }
@media screen and (max-width: 600px) {
    nav.navbar {
        height: 3.75em;
        width: 100%; } }
nav.navbar .session-filter {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: all 175ms ease;
    -moz-transition: all 175ms ease;
    transition: all 175ms ease; }
nav.navbar .session-filter a {
    font-size: 1.125em;
    font-weight: 400;
    text-decoration: none; }
nav.navbar .tag {
    float: left;
    display: block;
    margin-right: 0%;
    width: 37%;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
nav.navbar .tag:last-child {
    margin-right: 0; }
nav.navbar .presenter {
    float: left;
    display: block;
    margin-right: 0%;
    width: 31%;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
nav.navbar .presenter:last-child {
    margin-right: 0; }
nav.navbar .position {
    float: left;
    display: block;
    margin-right: 0%;
    width: 20%;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
nav.navbar .position:last-child {
    margin-right: 0; }
nav.navbar .remaining {
    float: right;
    display: block;
    margin-right: 0%;
    width: 10%;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: right; }
nav.navbar .remaining:last-child {
    margin-right: 0; }
nav.navbar .tag, nav.navbar .company, nav.navbar .position, nav.navbar .presenter, nav.navbar .remaining, nav.navbar .session-number, nav.navbar .time, nav.navbar .room-number, nav.navbar .session-title, nav.navbar .name {
    color: rgb(253, 253, 253);
    font-weight: bold;}
nav.navbar .tag:hover, nav.navbar .tag:active, nav.navbar .company:hover, nav.navbar .company:active, nav.navbar .position:hover, nav.navbar .position:active, nav.navbar .presenter:hover, nav.navbar .presenter:active, nav.navbar .remaining:hover, nav.navbar .remaining:active, nav.navbar .session-number:hover, nav.navbar .session-number:active, nav.navbar .time:hover, nav.navbar .time:active, nav.navbar .room-number:hover, nav.navbar .room-number:active, nav.navbar .session-title:hover, nav.navbar .session-title:active, nav.navbar .name:hover, nav.navbar .name:active {
    color: #eee;
    text-decoration: underline; }

.session-selected {
    background-color: #f0c30f;
    color: #fdfdfd !important;
    border-bottom: 1px solid #f0c30f;
    -webkit-box-shadow: 0 0 1.5625em 0 rgba(240, 195, 15, 0.66);
    -moz-box-shadow: 0 0 1.5625em 0 rgba(240, 195, 15, 0.66);
    box-shadow: 0 0 1.5625em 0 rgba(240, 195, 15, 0.66); }
.session-selected .tag, .session-selected .company, .session-selected .position, .session-selected .presenter, .session-selected .remaining, .session-selected .session-number, .session-selected .time, .session-selected .room-number, .session-selected .session-number, .session-selected .name {
    color: #fdfdfd !important; }
.session-selected:hover {
    background-color: #f0c30f !important; }
.session-selected a {
    color: inherit;
}
.presenter .info:hover {
    cursor: hand;
}

nav.navbar {
    height: 3.75em;
    width:75%;
    min-width:75em;
    margin-left: auto;
    margin-right: auto;
    line-height: 3.75em;
    margin: 0 auto;
    padding: 0 1.5625em;
    background: rgba(232, 135, 121, 0.7);
    box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.33);
}