#login{
    padding-top:20vh;
    text-align:center;
}
#padding{
    padding-bottom:5vh;
}

h1.title {
    color: rgb(253, 253, 253);
}

#button-div {
    display: inline-block;
    text-align: center;
}

#submit {
    margin-right: 1.25em;
    background-color: rgb(182, 226, 249);
    cursor: pointer;
}
#back{
    background-color: rgb(247, 224, 97);
}