#login{
    padding-top:20vh;
    text-align:center;
}
#padding{
    padding-bottom:5vh;
}

h1.title {
    color: rgb(253, 253, 253);
}

#button-div {
    display: inline-block;
    text-align: center;
}