/**********color reference chart**********
comment ********* color ********

P1, red           rgb(232, 135, 121)
P2, blue          rgb(182, 226, 249)
P3, yellow        rgb(247, 224, 97)
G1, dark          rgb(84, 79, 84)
G2, med           rgb(147, 146, 149)
G3, light         rgb(253, 253, 253)

*/

/**********icon reference chart**********
char ******** icon ********

c             close   (X)
p             plus    (+)
i             info    (i)
d             delete  (trashcan)
m             modify  (pencil)

*/

h4 {
    font-size: 1.25em;
}

#box {
    display: block;
    background-color: rgba(253, 253, 253, 0.8);
    width: 60em;
    height: 45em;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

th {
    text-align: left;
}

tr td input {
    width: 12em;
    text-align: center;
}

#wrapper {
    width: 85%;
    height: 100%;
    /*position: absolute;*/
    /*margin: auto;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

#wrapper2{
    width: 85%;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#users {
    margin-left: 3em;
    margin-right: 1em;
    float: left;
    width: 16em;
}

#role{
    float: left;
    margin-left: 3em;
    width: 15em;
}

#delete {
    float: right;
    width: 5em;
    margin-right: 3em;
    margin-top: 3.2em;
}

#se-wrap {
    float: right;
    width: 31em;
}

.s {
    background-color: rgb(182, 226, 249);
    margin: 0 auto;
    margin-top: 2em;
    margin-right: 1em;
    display: inline-block;
}

.s:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.back {
    background-color: rgb(247, 224, 97);
    margin-top: 0px;
    margin: 0 auto;
    display: inline-block;
}

.back:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#columns {
    /*display: block;*/
    width: 100%;
    /*position: absolute;*/
    margin: auto;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

#button-div {
    width:auto;
    height: auto;
    margin: auto;
}

#add {
    display: block;
    width: 100%;
    position: relative;
    margin: auto;
    margin-left: 3em;
    margin-top: 18em;
}

h2 {
    font-weight: 700;
}

h4.delete:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.custom-combobox {
    position: relative !important;
    display: inline-block !important;
    font-family: Lato, Sans-Serif !important;
    font-size: 1em !important;
}

.custom-combobox-toggle {
    border-color: rgb(182, 226, 249) !important;
    color: rgb(247, 224, 97) !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    margin-left: -1px !important;
    padding: 0 !important;
    border-radius: 0px 12px 12px 0px !important;
    background-color: transparent !important;
    font-family: Lato, Sans-Serif !important;
    font-size: 1em !important;
}

.custom-combobox-input {
    border-color: rgb(182, 226, 249) !important;
    margin: 0 !important;
    padding: 5px 10px !important;
    border-radius: 12px 0px 0px 12px !important;
    background-color: transparent !important;
    font-family: Lato, Sans-Serif !important;
    font-size: 1em !important;
}

.ui-button .ui-icon {
    border-color: rgb(182, 226, 249) !important;
    font-family: "bca-icons";
    /*background-image: url("../images/dropdown-icon.png") !important;*/
    background-image: none !important;
    font-size: 0.25em;
    content: "l";
    color: rgb(84, 79, 84);
    font-size: 0.25em;
}

select#combobox.user_drop {
    background-color: transparent !important;
    border-color: rgb(182, 226, 249) !important;
    color: rgb(84, 79, 84) !important;
}
.custom-combobox2 {
    position: relative !important;
    display: inline-block !important;
    font-family: Lato, Sans-Serif !important;
    font-size: 1em !important;
}

.custom-combobox2-toggle {
    border-color: rgb(182, 226, 249) !important;
    color: rgb(247, 224, 97) !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    margin-left: -1px !important;
    padding: 0 !important;
    border-radius: 0px 12px 12px 0px !important;
    background-color: transparent !important;
    font-family: Lato, Sans-Serif !important;
    font-size: 1em !important;
}

.custom-combobox2-input {
    border-color: rgb(182, 226, 249) !important;
    margin: 0 !important;
    padding: 5px 10px !important;
    border-radius: 12px 0px 0px 12px !important;
    background-color: transparent !important;
    font-family: Lato, Sans-Serif !important;
    font-size: 1em !important;
}

select#combobox2.user_drop {
    background-color: transparent !important;
    border-color: rgb(182, 226, 249) !important;
    color: rgb(84, 79, 84) !important;
}
.ui-button-icon-only .ui-icon {
    /*margin: auto !important;*/
    /*top: 50% !important;*/
    /*left: 50% !important;*/
    /*transform: translate(-50%, -50%) !important;*/

}

/*.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {*/
    /*font-family: Lato, Sans-Serif !important;*/
    /*font-size: 1em;*/
/*}*/
