h4 {
    font-size: 1.25em;
}

#box {
    display: block;
    background-color: rgba(253, 253, 253, 0.8);
    width: 60em;
    height: 45em;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

th {
    text-align: left;
}

tr td input {
    width: 12em;
    text-align: center;
}

#wrapper {
    width: 85%;
    height: 100%;
    /*position: absolute;*/
    /*margin: auto;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

#wrapper2{
    width: 85%;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#users {
    margin-left: 3em;
    margin-right: 1em;
    float: left;
    width: 16em;
}

#role{
    float: left;
    margin-left: 3em;
    width: 15em;
}

#delete {
    float: right;
    width: 5em;
    margin-right: 3em;
    margin-top: 3.2em;
}

#se-wrap {
    float: right;
    width: 31em;
}

#columns {
    /*display: block;*/
    width: 100%;
    /*position: absolute;*/
    margin: auto;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

#button-div {
    width:auto;
    height: auto;
    margin: auto;
}

#add {
    display: block;
    width: 100%;
    position: relative;
    margin: auto;
    margin-left: 3em;
    margin-top: 18em;
}

h2 {
    font-weight: 700;
}

h4.delete:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
