/**********color reference chart**********
comment ********* color ********

P1, red           rgb(232, 135, 121)
P2, blue          rgb(182, 226, 249)
P3, yellow        rgb(247, 224, 97)
G1, dark          rgb(84, 79, 84)
G2, med           rgb(147, 146, 149)
G3, light         rgb(253, 253, 253)

*/

/**********icon reference chart**********
char ******** icon ********

c             close   (X)
p             plus    (+)
i             info    (i)
d             delete  (trashcan)
m             modify  (pencil)

*/

h1.title {
    color: rgb(147, 146, 149);
    margin-bottom: 0.5em;
}

h1.main-title {
    color: rgb(253, 253, 253);
    margin-top: 1.25em;
}


header {
    height: 10%;
}
button {
    cursor: pointer;
}

button.back {
    background-color: rgb(247, 224, 97);
}
button.logout {
    background-color: rgb(182, 226, 249);
}

h2 {
    line-height: inherit;
}

nav .grade {
    width: 20%;
}
nav .full {
    width: 18%;
}
nav .partial {
    width: 19%;
}
nav .none {
    width: 18%;
}
nav .auto {
    width: 20%;
}

.list-container .session .grade {
    width: 20%;
    display: inline-block;
}
.list-container .session .full {
    cursor: pointer;
    width: 18%;
    display: inline-block;
}
.list-container .session .partial {
    cursor: pointer;

    width: 19%;
    display: inline-block;
}
.list-container .session .none {
    cursor: pointer;
    width: 18%;
    display: inline-block;
}
.list-container .session .auto-enroll {
    width: 20%;
    display: inline-block;
    padding-left: 1em;
}
.list-container .auto-enroll a {
    cursor: pointer;
    display: inline-block;
    color: #555;
    font-size: 16px;
    margin-right: 1em;
}


html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 33.75em) {
    html {
        font-size: 65%;
    }
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

nav.navbar {
    height: 3.75em;
    width: 50%;
    max-width: 50em;
    line-height: 3.75em;
    margin: 0 auto;
    padding: 0 1.5625em;
    background: rgba(232, 135, 121, 0.7);
    box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.33);
}

.session-filter {
    display: inline-block;
    height: 100%;
    padding: 0;
    color: white;
    -webkit-transition: all 175ms ease;
    -moz-transition: all 175ms ease;
    transition: all 175ms ease;
}

.list-container {
    height: auto;
    width: 50%;
    max-width: 50em;
    margin: 0 auto;
    background: rgba(253, 253, 253, 0.8);
    box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.33);
}

.list-container .session {
    height: 3.75em;
    width: 100%;
    line-height: 3.75em;
    padding: 0 1.5625em;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    -webkit-transition: all 175ms ease;
    -moz-transition: all 175ms ease;
    transition: all 175ms ease;
}

.list-container .session .session-filter {
    color: #555;
}

.list-container .session:hover {
    cursor: auto;
    background: rgba(247, 224, 97, 0.7);
    border-bottom: 1px solid rgba(247, 224, 97, 0.7);
    box-shadow: 0 -0.0625em 0 rgba(247, 224, 97, 0.7);
}

.center {
    display: block;
    margin: auto;
    width: 50%;
    max-width: 50em;
    padding: 2em;
    background-color: rgba(253, 253, 253, 0.8);
}
.center a {
    cursor: pointer;
    color: #555;
    margin: 0;
}
.center h2, .center h4 {
    display: inline;
}
.center h4 {
    margin-right: 1em;
}
.center h2:hover {
    font-weight: 600;
}

/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.3.4 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, No├½l Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
    .featherlight {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2147483647;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        background: #333;
        background: transparent;
    }

    .featherlight:last-of-type {
        background: rgba(0, 0, 0, 0.8);
    }

    .featherlight:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .featherlight .featherlight-content {
        position: relative;
        text-align: left;
        vertical-align: middle;
        display: inline-block;
        overflow: auto;
        padding: 25px 25px 0;
        border-bottom: 25px solid transparent;
        min-width: 30%;
        margin-left: 5%;
        margin-right: 5%;
        max-height: 95%;
        background: #fff;
        cursor: auto;
        white-space: normal;
    }

    .featherlight .featherlight-inner {
        display: block;
    }

    .featherlight .featherlight-close-icon {
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;
        line-height: 25px;
        width: 25px;
        cursor: pointer;
        text-align: center;
        font-family: Arial, sans-serif;
        background: #fff;
        background: rgba(255, 255, 255, 0.3);
        color: #000;
    }

    .featherlight .featherlight-image {
        width: 100%;
    }

    .featherlight-iframe .featherlight-content {
        border-bottom: 0;
        padding: 0;
    }

    .featherlight iframe {
        border: 0;
    }
}