/* Dropdown Button */
.locationddbutton {
    background-color: #540092;
    color: white;
    padding: 12px;
    font-size: 16px;
    width: 90vw;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    display: block;
}

/* Dropdown button on hover & focus */
.locationddbutton:hover, .locationddbutton:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.location {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.locationdropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.locationdropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.locationdropdown a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}