/**********color reference chart**********
comment ****************** color ********

P1, blue                  rgb(89, 89, 171)   #5959AB 
P2, purple                rgb(139, 74, 162)  #8B4AA2 
P3, green                  rgb(67, 155, 140)   #439B8C

S1-1, bright blue          rgb(51, 51,161)    #3333A1
S1-2, bright purple        rgb(121, 35, 152)  #792398
S1-3, bright green         rgb(28, 145, 126)  #1C917E

S2-1, dark blue            rgb(54, 54, 143)   #36368F
S2-2, dark purple          rgb(110, 41, 135)  #6E2987
S2-3, dark green           rgb(35, 129, 113)  #238171

S3-1, light blue           rgb(142, 142, 207)  #8E8ECF
S3-2, light purple         rgb(183, 129, 201)  #B781C9
S3-3, light green          rgb(123, 197, 184)  #7BC5B8

S4-1, lighter blue         rgb(157, 157, 203)  #9D9DCB
S4-2, lighter purple       rgb(183, 146, 197)  #B792C5
S4-3, lighter green        rgb(140, 191, 183)  #8CBFB7



G1, dark                   rgb(84, 79, 84)
G2, med                    rgb(147, 146, 149)
G3, light                  rgb(253, 253, 253)

*/

/**********icon reference chart**********
char ******** icon ********

c             close   (X)
p             plus    (+)
i             info    (i)
d             delete  (trashcan)
m             modify  (pencil)

*/

body {
    margin: 0;
}

.enrollment {
    height: 75%;
    width: 85%;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    background: #f7f7f7;
    overflow-y: scroll;
    -webkit-box-shadow: 0 0.1875em 0.4375em 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0.1875em 0.4375em 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.1875em 0.4375em 0 rgba(0, 0, 0, 0.15);
    color: #333; }
.enrollment::after {
    clear: both;
    content: "";
    display: table; }
@media screen and (max-width: 800px) {
    .enrollment {
        height: 75%;
        width: 92.5%; } }
@media screen and (max-width: 600px) {
    .enrollment {
        height: 75%;
        width: 100%; } }
.enrollment .session {
    display: block;
    height: 3.75em;
    overflow: hidden;
    line-height: 3.75em;
    padding: 0 1.5625em;
    border-bottom: 1px solid #d6d9da; }
.enrollment .session::after {
    clear: both;
    content: "";
    display: table; }
.enrollment .session .tag {
    float: left;
    display: block;
    margin-right: 0%;
    width: 18.75%;
    color: #d6d9da;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
.enrollment .session .tag:last-child {
    margin-right: 0; }
.enrollment .session .company {
    float: left;
    display: block;
    margin-right: 0%;
    width: 25%;
    color: #d6d9da;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
.enrollment .session .company:last-child {
    margin-right: 0; }
.enrollment .session .position {
    float: left;
    display: block;
    margin-right: 0%;
    width: 31.25%;
    color: #d6d9da;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 400;
    text-align: left; }
.enrollment .session .position:last-child {
    margin-right: 0; }
.enrollment .session .presenter {
    float: left;
    display: block;
    margin-right: 0%;
    width: 18.75%;
    color: #d6d9da;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 400;
    text-align: left; }
.enrollment .session .presenter:last-child {
    margin-right: 0; }
.enrollment .session .remaining {
    float: left;
    display: block;
    margin-right: 0%;
    width: 6.25%;
    color: #d6d9da;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: right; }
.enrollment .session .remaining:last-child {
    margin-right: 0; }
.enrollment .session .session-number {
    float: left;
    display: block;
    margin-right: 0%;
    width: 6.25%;
    color: #d6d9da;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
.enrollment .session .session-number:last-child {
    margin-right: 0; }
.enrollment .session .time {
    float: left;
    display: block;
    margin-right: 0%;
    width: 10%;
    color: #d6d9da;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
.enrollment .session .time:last-child {
    margin-right: 0; }
.enrollment .session .room-number {
    float: left;
    display: block;
    margin-right: 0%;
    width: 12.5%;
    color: #d6d9da;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
.enrollment .session .room-number:last-child {
    margin-right: 0; }
.enrollment .session .session-title {
    float: left;
    display: block;
    margin-right: 0%;
    width: 71%;
    color: #d6d9da;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
.enrollment .session .session-title:last-child {
    margin-right: 0; }
.enrollment .session .name {
    float: left;
    display: block;
    margin-right: 0%;
    width: 31.25%;
    color: #d6d9da;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    font-weight: 500;
    text-align: left; }
.enrollment .session .name:last-child {
    margin-right: 0; }
/*.enrollment .session:hover {*/
    /*background: #eee;*/
    /*-webkit-transition: all 175ms ease;*/
    /*-moz-transition: all 175ms ease;*/
    /*transition: all 175ms ease; }*/
.enrollment .view-session {
    border-bottom: 1px solid #d6d9da; }
.enrollment .view-session .time, .enrollment .view-session .room-number {
    font-weight: 400; }
.enrollment .view-session-student:hover {
    background: #d6d9da; }
.enrollment .view-session-student:hover .session-number, .enrollment .view-session-student:hover .time, .enrollment .view-session-student:hover .room-number, .enrollment .view-session-student:hover .session-title, .enrollment .view-session-student:hover .name {
    color: #333; }


.view .view-signup {
    float: left;
    display: block;
    margin-right: 0%;
    width: 66.66667%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 4.6875em;
    background-color: rgb(89, 89, 171) }
.view .view-signup:last-child {
    margin-right: 0; }
.view .view-signup .vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
.view .view-signup a:last-child .session {
    border-bottom: none; }
@media screen and (max-width: 800px) {
    .view .view-signup {
        height: 50%;
        width: 100%;
        padding: 0;
        font-size: 0.75em; } }
@media screen and (max-width: 600px) {
    .view .view-signup {
        height: 50%;
        width: 100%;
        padding: 0;
        font-size: 0.625em;
    }}
.view .view-main {
    float: left;
    display: block;
    margin-right: 0%;
    width: 33.33333%;
    height: 100%;
    margin: 0;
    padding: 0 3.125em;
    -webkit-box-shadow: 0 0.1875em 0.4375em 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0.1875em 0.4375em 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.1875em 0.4375em 0 rgba(0, 0, 0, 0.15); }

.view .view-main .vertical-center {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%); }

.view .view-main h3 a {
    color: #555; }
@media screen and (max-width: 800px) {
    .view .view-main {
        height: 50%;
        width: 100%; } }
@media screen and (max-width: 600px) {
    .view .view-main {
        height: 50%;
        width: 100%; } }

.view .login-status {
    padding: 1.25em 0; }
.view .login-status h3 {
    display: inline-block; }
.view .login-status .log-out {
    float: right;
 }
.view {
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
    background: #fdfdfd;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; }


.main {
    height: 100%;
    overflow-y: hidden;
    background: #e7e7e7; }