html {

}

body {
    background: #636161;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    align-content: center;
}


table {
    background: white;
    border-collapse: collapse;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    vertical-align: center;
    box-shadow: 0 0.1875em 0.4375em 0 rgba(0, 0, 0, 0.15);
}

td, th, tr {
    padding: 20px;
}

td {

}

th {


}

tr {
    box-sizing: inherit;
    border: 1px solid #ccc;
}