@import url(https://fonts.googleapis.com/css?family=Roboto);

input[type="checkbox"] {

}

label {
  border: 4px red black;
  font-family: "Roboto";
}


.mods {
  display: none;
  font-family: arial;
}
