/**********color reference chart**********
comment ********* color ********

P1, red           rgb(232, 135, 121)
P2, blue          rgb(182, 226, 249)
P3, yellow        rgb(247, 224, 97)
G1, dark          rgb(84, 79, 84)
G2, med           rgb(147, 146, 149)
G3, light         rgb(253, 253, 253)

*/

/**********icon reference chart**********
char ******** icon ********

c             close   (X)
p             plus    (+)
i             info    (i)
d             delete  (trashcan)
m             modify  (pencil)

*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic);
@import url('http://fonts.googleapis.com/css?family=Lato');

html, body {
    height: 100%;
    min-height: 100%;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
header {
    margin-top: 10px;
    height: auto;
    clear: both;
    font-size: 1.5em;
    -webkit-transform-stdle: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

header h1 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
header h2 {
    float: left;
}
#logout {
    float: right;
}
#logout a:hover {
    font-weight: bolder;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.feature {
    width: 15em;
    height: 11em;
    display: inline-block;
    position: relative;
    top: 0;
    padding: 0.9375em 1.5625em;
    background: rgba(253, 253, 253, 0.8);
    -webkit-transition: all 175ms ease;
    -moz-transition: all 175ms ease;
    transition: all 175ms ease;
}
.feature h2 {
    margin: 0.125em;
}
.feature h4 {
    margin: 0.125em;
    opacity: 0.8;
}
.feature:hover {
    top: -5px;
    background: #262626;
    box-shadow: 0 0.9375em 1.5625em rgba(0, 0, 0, 0.33);
    border-bottom: 0.625em solid #262626;
}
.feature:hover h2, .feature:hover h4 {
    color: #fdfdfd;
}
td {
    padding: 2px;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 175ms ease;
}

.back {
    width: 12.5em;
    text-transform: uppercase;
    -webkit-transition: all 175ms ease;
    -moz-transition: all 175ms ease;
    transition: all 175ms ease;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#back {
    background-color: rgb(247, 224, 97);
}