// Career Day
html {
	background-color:#e7e7e7;
}

.main {
	height: 100%;
	overflow-y: hidden;
	background:#e7e7e7;
}


nav.navbar {
	@extend .container;
	height: em(70px);
	line-height: em(70px);
	background: $color-mineshaft;
	@include margin(0 auto);

	.session-select {
		display: inline-block;
		@include size(em(175px) 100%);
		@include margin(0);
		@include padding(0 em(30px));
		text-align: center;		

		a {
			color: $color-white;
			font-size: em(20px);
			font-weight: $default-font-weight;
			text-decoration: none;
		}

		&.active {
			background-color: $color-grayblack;
			border-bottom: 5px solid $color-yellow;

			a {
				color: $color-black;
			}
		}
	}
}

.enrollment {
	@extend .container;
	height: 60%;
	@include margin(0 auto);
	overflow-y: scroll;
	background: $color-grayblack;
	@include box-shadow(0, em(3px), em(7px), 0, rgba(0, 0, 0, 0.15));
	color: $color-black;

	.session {
		display: table;
		@include row;
		height: em(60px);
		line-height: em(60px);
		@include padding(0 em(25px));
		border-bottom: 1px solid #d6d9da;

		.tag {
			@include span-columns(3);
			font-size: em(18px);
			font-weight: 500;
			color: $color-emperor;
		}	

		.title {
			display: table-cell;
			vertical-align: middle;
			@include span-columns(6);
			height: 100%;

			h3, h5 {
				@include margin(0);
				@include padding(0);
				text-align: center;
				line-height: 1.2;
			}

			h3 {
				color: $color-black;
				font-size: em(18px);
				font-weight: 500;
			}

			h5 {

			}


		}

		.host {
			@include span-columns(3);
			font-size: em(18px);
			font-weight: 500;	
		}
	}
}

.register {
	@extend .container;
	@include margin(em(50px) auto 0);
	text-align: center;
	horizontal-align: center;

	button {
		horizontal-align: center;
		margin: auto;

	}
}


