.error {
	@include full-screen;
	background-color: $color-black;
	@include span-columns(12);
	
	color: $color-white;
	text-align: center;

	.vertical-center { @include vertical-center; }

	h1 {
		font-size: 10em;
		font-family: 'Permanent Marker', cursive;
		@include margin(0);
	}

	h2 {
		font-size: 2em;
		@include margin(0);
	}

	h3 {
		color: $color-dustygray;
		@include margin(em(0));
	}

	button {
		background-color: $color-black;
		border: 1px solid $color-yellow;
		@include margin(em(40px) 0);

		&:hover{
			color: $color-lightyellow;
			border: 1px solid $color-lightyellow;
		}
	}
}