.view {
	@include full-screen;
	@include zero-box;
	background:$color-white;
	@include vertical-parent;

	.view-main {
		height: 100%;
		@include span-columns(4);
		@include padding(0 em(50px));
		@include box-shadow(0, em(3px), em(7px), 0, rgba(0, 0, 0, 0.15));

		h3 {
			color: #555;
		}

		.vertical-center { @include vertical-center; }

		@include media($medium-screen-down) {
			@include size(100% 50%);
		}

		@include media($mobile) {
			@include size(100% 50%);
		}

	}
	.view-signup {
		@include span-columns(8);
		@include padding(0 em(75px));
		height: 100%;
		background-color: rgba(240, 195, 15, 0.66);
		.vertical-center { @include vertical-center; }
		// background: url('../img/yellow.jpeg');

		@include media($medium-screen-down) {
			@include size(100% 50%);
			@include padding(0);
			font-size: em(12px);
		}
		@include media($mobile) {
			@include size(100% 50%);
			@include padding(0);
			font-size: em(10px);
		}
	}
}