@charset "UTF-8";

/// Changes the display property used by other mixins called in the code block argument.
///
/// @param {String} $display [block]
///   Display value to be used within the block. Can be `` or `block`.
///
/// @example scss
///   @include display-context() {
///    .display- {
///      @include span-columns(6);
///     }
///   }
///
/// @example css
///   .display- {
///      display: -cell;
///      ...
///   }

@mixin display-context($display: block) {
  $scope-display: $container-display-;
  $container-display-: $display ==  !global;

  @content;

  $container-display-: $scope-display !global;
}
